[submodule "contrib"]
	path = contrib
url=https://github.com/AmigaPorts/AROS-contrib.git
[submodule "ports"]
	path = ports
url=https://github.com/AmigaPorts/AROS-ports.git
[submodule "AROS"]
	path = AROS
url=https://github.com/AmigaPorts/AROS-main.git